
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(25, 25, 26);
  color: black;
}
#box{
    width: 300px;
    height: 300px;
    background-color: bisque;
}
#square{
    width: 300px;
    height: 300px;
    background-color: rgb(181, 105, 12);
}
#circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(12, 181, 116);
}